.clothes {
  z-index: -1;
  min-height: 2650px;
  background: url('images/bg/bg5.png') center center/100% 100% no-repeat;
  &__top {
    width: 100%;
    padding: 210px 180px 0 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-line {
      margin-top: 10px;
      display: inline-block;
      border: 1px solid #FFFFFF;
      border-top: none;
      width: 100%;
      height: 1px;
      color: #FFFFFF;
      align-items: center;
      justify-content: center;
    
    }
    &-text {
      white-space: nowrap;
      font-family: 'Michroma';
      font-weight: 400;
      font-size: 20px;
      color: #FFFFFF;
      align-items: center;
      margin-left: 30px;
    }
  }

    &__wrapper {
      position: relative;
      margin-top: 100px;
      &-photo1 {
        position: absolute;
        top: 122px;
        left: 260px;
        z-index: 1;
        transform: scale(1.25)
      }
      &-tshirt1 {
        position: absolute;
        top: 122px;
        right: 160px;
        z-index: 0;
        transform: scale(1.3);
      }
      &-photo2 {
        position: absolute;
        bottom: -1910px;
        right: 250px;
        transform: scale(1.25);
        z-index: 5;
      }
      &-tshirt2 {
        position: absolute;
        bottom: -1930px;
        left: 172px;
        transform: scale(1.3);
        z-index: 4;
      }
    }
}