.end {
    position: relative;
    height: 602px;
    &__top {
      margin-top: -120px;
        width: 100%;
        padding: 0px 120px 0 360px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
            &-line {
                margin-top: 10px;
                display: inline-block;
                border: 1px solid #000;
                width: 100%;
                height: 1px;
                color: #000;
                align-items: center;
                justify-content: center;
           
            }
            &-text {
                white-space: nowrap;
                font-family: 'Michroma';
                font-weight: 400;
                font-size: 20px;
                color: #000;
                align-items: center;
                margin-left: 30px;
            }
    }
    &__blob {
        position: absolute;
        top: -17%;
    }
    &__maintext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 160px;;
        align-items: center;
        
        &-subtitle {
          display: block;
          font-family: 'Michroma';
          font-weight: 400;
          font-size: 48px;
          line-height: 68px;
          -webkit-text-stroke: 1px #979E96;
          justify-content: center;
          color: #D9D9D9;
          
        }
        &-title {
          display: block;
          justify-content: center;
          font-family: 'Dela Gothic One';
          font-weight: 400;
          font-size: 96px;
          color: #333333;;
          text-transform: uppercase;
          span {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px  #333333;;
          }
        }
        &-underline {
          display: flex;
          justify-content: center;
        
        }
    }
    &__blobdown {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}