body{
  background: url('../images/bg/gray-paper-bg.png') center center/100% 100%;
}
.container1 {
	width: 100%;
	display: flex;
	justify-content: center;

}	

.promo {
  background: url('../images/bg/bg1.png') center center/100% 100% no-repeat;
  width: 100%;
  height: 900px;
  position: relative;
    &__blob {
    position: absolute;
    top: 0;
    left: 0;
   }
   &__blobdown {
    position: absolute;
    bottom: 95px;
    right: 0;
   }
  &__top {
	width: 100%;
	padding: 47px 69px 0 360px;
	display: flex;
  align-items: center;
	justify-content: space-between;
    &-line {
      border: 1px solid #FFFFFF;
      border-bottom: none;
      width: 100%;
      height: 1px;
      color: #FFFFFF;
    }
    &-text {
      margin-left: 31px;
      color: #FFFFFF;
      white-space: nowrap;
      font-family: 'Michroma';
      font-weight: 400;
      font-size: 20px;
    }
  }
  &__maintext {
    margin: 0 auto;
    margin-top: 199px;
    &_subheader {
      font-family: 'Michroma';
      font-weight: 400;
      font-size: 40px;
      color: #FFFFFF;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0.5px #FFFFFF;
    }
    &_header {
      font-family: 'Dela Gothic One';
      font-weight: 400;
      font-size: 128px;
      color: #FFFFFF;
      text-transform: uppercase;
      span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px  #FFFFFF;
      }
    }
    &_underline {
      display: flex;
      justify-content: center;
    }
  }
}

