.illustrations {
    width: 100%;
    position: relative;
    background-color: black;
    background: url('../images/bg/bg7.png') center center/100.1% 100% no-repeat;
    min-height: 2620px;
    margin-top: 795px;

    &__top {
      width: 100%;
      padding: 0 152px 0 170px;
      position: absolute;
      top: -25px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
        &-line {
          margin-top: 10px;
          display: inline-block;
          border: 1px solid #FFFFFF;
          width: 100%;
          height: 1px;
          color: #FFFFFF;
          align-items: center;
          justify-content: center;
        }
        &-text {
          white-space: nowrap;
          font-family: 'Michroma';
          font-weight: 400;
          font-size: 20px;
          color: #FFFFFF;
          align-items: center;
          margin-left: 30px;
        }
      }
      &__first {
        position: absolute;
        top: 215px;
        transform: scale(1.5);
      }
      &__second {
        position: absolute;
        left: 145px;
        bottom: 407px;
        transform: scale(1.25);
      }
      &__third {
        position: absolute;
        right: 136px;
        top: 890px;
        transform: scale(1.5);
      }
      &__blob {
        position: absolute;
        top: -245px;
        left: -3px;
      }
}