.logo {
    z-index: 5;
    margin-top: 48px;

    position: relative;
    min-height: 1900px;
    &__divider{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 54px;
      &-leftline {
        align-items: center;
        width: 100%;
        height: 1px;
        border: 2px solid #000000;
        border-top: none;
        background: #000000;
      }
      &-text {
        color: #363636;
        font-family: 'Dela Gothic One';
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        margin: 0 76px 0 95px;
        span{
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 1px #363636;
        }
      }
      &-rightline {
        width: 100%;
        height: 1px;
        border: 2px solid #000000;
        border-top: none;
        background: #000000;
      }
    }
    &__smalltitle {
        display: flex;
        justify-content: center;
        font-family: 'Michroma';
        font-weight: 400;
        font-size: 20px;
        line-height: 191.69%;
        letter-spacing: 0.015em;
        text-decoration-line: underline;
        color: #000000;
    }
    &__sketches {
        display: flex;
        justify-content: center;
        gap: 46px;
        margin:68px 0 103px 0;
        img {
          width: 623px;
          height: 386px;
        }
    }
    &__blob {
        position: absolute;
        display: inline-block;
        right: 10px;
        top: 460px;
        z-index: -2;
    }
    &__wrapper {
      position: relative;
      &-logotype {
        position: absolute;
        top: 30px;
        left: 210px;
        transform: scale(1.2);  
      }
      &-coffeebag {
        position: absolute;
        right: 238px;
        top: 140px;
        transform: scale(1.3);
        z-index: 5;
      }
    }
    &__blobdown {
      position: absolute;
      bottom: 45px;
      left: 40px;
      transform: scale(1.2);
      z-index: 5;
    }
   

}   
