.ux {
    position: relative;
    height: 1800px;
    &__top {
        width: 100%;
        padding: 0 170px 0 140px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &-line {
            margin-top: 10px;
            display: inline-block;
            border: 1px solid #000000;
            width: 100%;
            height: 1px;
            color: #000000;
            align-items: center;
            justify-content: center;
    
        }
        &-text {
            white-space: nowrap;
            font-family: 'Michroma';
            font-weight: 400;
            font-size: 20px;
            line-height: 191.69%;
            letter-spacing: 0.015em;
            color: #000000;
            margin-left: 21px;
        }
    }
    &__blob {
        position: absolute;
        right: 0;
        top: 95px;
    }
    &__header {
        margin: 105px 145px 0 0;
        align-items: right;
        float: right;

        &-title {
            font-family: 'Unbounded';
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            color: #363636
        }
        &-subtitle{
            font-family: 'Unbounded';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-align: right;
            color: #363636;
        }
    }
    &__page {
        margin: 35px 0 0 130px;
        width: 538px;
        height: 769px;
    }
    &__laptop {
        position: absolute;
        top: 450px;
        left: 370px;
    }
    &__descr {
        margin: 240px 0 0 150px;
        &-title {
            font-family: 'Unbounded';
            font-weight: 700;
            font-size: 36px;
            line-height: 45px;
            color: #363636;
            span {
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1px  #363636;;
            }
        }
        &-text {
            margin-top: 33px;
            width: 569px;
            font-family: 'Michroma';
            font-weight: 400;
            font-size: 16px;
            line-height: 191.69%;
            letter-spacing: 0.015em;
            color: #000000;
        }
    }
    &__phones {
        transform: scale(0.95);
        position: absolute;
        top: 920px;
        left: -50px;
        
    }
}